
/* The side navigation menu */
.sidenav {
    height: 82.5% !important; /* 100% Full-height */
    min-height: 270px;
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    top: 0 !important; /* Stay at the top */
    margin-top: 55px;
    background-color: #17223a; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s ease-in-out 0s !important;/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .nav-item {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: block;
    transition: 0.3s ease-in-out 0s !important;
}

.sidenav .centerbar .nav-item {
    width: 100%;
    padding: 4px 0px;
    margin-bottom: 4px;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav .centerbar .nav-item:hover {
    background-color: #ddd;
    color: black;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebutton {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 2em;
}
  
/* On smaller screens, where height is less than 576px, 
change the style of the sidenav 
(less padding and a smaller font size 75% reduction) */
@media screen and (max-height: 576px) {
    .sidenav {padding-top: 36px;}
    .sidenav .nav-item {font-size: 18px;}
    .sidenav .closebutton {font-size: 30px;}
}
