
.not-button {
  text-align: center;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.gif {
  display: inline-block;
  height: 60vh;
  min-height: 150px;
  pointer-events: none;
  margin: 30px auto 0;
}

.video {
  height: 60vh;
  width: 50vw;
  min-height: 16em;
  min-width: 26em;
  margin: 2.5em auto;
}

.pageTitle {
  margin: 60px auto 0;
}

.App-logo {
  margin: 40vh 0 0 2vw;
  height: 20vmin;
  pointer-events: none;
  z-index: 1;
}

.loadingText {
  pointer-events: none;
  text-align: left; 
  margin: 0 0 0 calc(50vw - 1.65em);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingpane {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;    
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: wait;
}
